{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prato Cheio - Home</title>
    <meta name="description" content="Prato Cheio conecta mercados e padarias a pessoas
    que querem comprar alimentos com desconto perto da validade, reduzindo o desperdício
    de comida.">
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
</head>

<body>
    <h1 id="title">Prato Cheio</h1>
    <h2>Quem somos?</h2>
        <p>
        O <strong>Prato Cheio</strong> é a <em>plataforma</em> que conecta 
        <strong>mercados</strong> e <strong>padarias</strong> a pessoas que 
        querem comprar <em>alimentos com desconto</em> perto da validade. 
        Reduza o <strong>desperdício de comida</strong>, economize na compra 
        e ajude o <em>meio ambiente</em> com <strong>doações</strong> e 
        vendas rápidas de produtos próximos do vencimento.
        </p>
</body>
</html>

<!--h1, h2, title-->
